<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>user info</title>
    <!--<script th:src="@{/static/js/test.js}"></script>-->
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
</head>
<body>
    <div>
        用户姓名:<input th:id="${user.name}" th:name="${user.name}" th:value="${user.name}">
        <br>
        用户年龄:<input th:value="${user.age}">
        <br>
        用户生日:<input th:value="${#dates.format(user.time,'yyyy-MM-dd hh:mm:ss aa')}">
    </div>
    <hr>
    <h2>User Info</h2>
    <div th:object="${user}">
        用户姓名:<input th:id="*{name}" th:name="*{name}" th:value="*{name}">
        <br>
        用户年龄:<input th:value="*{age}">
        <br>
        用户生日:<input th:value="*{#dates.format(time,'yyyy-MM-dd hh:mm:ss aa')}">
    </div>
    <hr>
    <h2>text OR utext</h2>
    <div>
        <span th:text="${user.des}"></span>
        <br>
        <span th:utext="${user.des}"></span>
    </div>
    <hr>
    <h2>URL</h2>
<a th:href="@{http://www.baidu.com}">click</a>
<form th:action="@{/th/postform}" th:object="${user}" th:method="post">
    <input type="text" th:field="*{name}">
    <input type="submit" value="提交">
</form>
<table>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>时间</th>
        <th>描述</th>
    </tr>
    <tr th:each="person:${userList}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.age}"></td>
        <td th:text="${#dates.format(person.time,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:utext="${person.des}"></td>
    </tr>
</table>
</body>
<script>
    $(function () {
        var a = true;
    })
</script>
</html>